.accueil{
    background-image: url("../image/accueil.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    
}

.python{
    height: 40px;
    width: auto;
}

.Lc{
    height: 40px;
    width: auto;
}

.web{
    background: black;
    height: 40px;
    width: auto;
}

.Js{
    height: 40px;
    width: auto;
}

.Php{
    height: 40px;
    width: auto;
}

.Mysql{
    background: black;
    height: 40px;
    width: auto;
}

.ma-photo{
    height: 120px;
    width: auto;
    border: 50%;
    box-shadow: rgba(0, 0, 0, 0.2);
}