/*fond d'arrère plan*/

.accueil{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right,#123
    ,#125, #111);
    display: block;
    justify-content: left;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    
}

/*emplacement langages*/

.python{
    height: 40px;
    width: auto;
}

.Lc{
    height: 40px;
    width: auto;
}

.web{
    height: 40px;
    width: auto;
}

.Js{
    height: 40px;
    width: auto;
}

.Php{
    height: 40px;
    width: auto;
}

.Mysql{
    background: black;
    height: 40px;
    width: auto;
}

.ma-photo{
    height: 120px;
    width: auto;
    border: 50%;
    box-shadow: rgba(0, 0, 0, 0.2);
}

/* page de presentation*/

.presentation{
    display: inline-block;
    padding: 2px 50px;
    background: #4b1000;
    color: bisque;
    border-radius: 30px;
    text-decoration: none;
    line-height: 40px;
    font-size: 17px;

}