/* Reset simple */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}



/* Logos langages de programmation */
.logos {
    display: flex;
    width: auto;
    height: 40px;
}


.ma-photo{
    width: 150px;
    margin-top: 1rem;
    border-radius: 50%;
}

/* l'entete de la page */

header{
    background: #333;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

/* Gestion du menu responsive */

#menu-toggle{
    font-size: 24px;
    background: none;
    border :
    color: white;
    cursor: pointer;
    display: block;

}

.menu ul{
    display: flex;
    list-style: none;
    color: white;
    margin: 0px;
    padding: 0px;
}

.menu li{
    padding: 10px;
    border-top: 1px solid;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu{
    display: none;
}

.menu.open{
    display: block;
}

/* Responsive */
@media(max-width: 768px) {
    .projet-card {
        flex: 1 1 100%;
    }

    header {
        flex-direction: column;
        gap: 0.5rem;
    }
}